venv/
.venv/
!.claude/
test.*

*.pdf
Weekly Report/CS703.pdf

Weekly Report/*.aux
Weekly Report/*.bcf*
Weekly Report/*.fdb_latexmk
Weekly Report/*.fls
Weekly Report/*.log
Weekly Report/*.out
Weekly Report/*.run.xml
Weekly Report/*.synctex.gz
Weekly Report/*.bbl
Weekly Report/*.blg

generate_status_report.py
*.pptx*

content_*
master_schedule.md
master_schedule.md
Weekly Report/Professor feedback
.claude/
Status Report/*
!Status Report/templates.zip

!Weekly Report/CS703_Phase*.pdf
.claude/tmp.txt